{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "import",
    "prettier",
    "security",
    "jsx-a11y",
    "react-hooks"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "all",
        "parser": "flow"
      }
    ],
    "react/no-array-index-key": "error",
    "security/detect-object-injection": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": false
      }
    ]
  },
  "extends": [
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "plugin:security/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  }
}
